.product-wrapper {
  display: flex;
  position: relative;
  max-width: 1420px;
  margin: 80px auto 120px 120px;

  .product-image {
    margin-right: 7.042%;
    width: 100px;
    width: 50%;
  }

  .product-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;

    .title-wrapper {
      display: flex;
      flex-direction: column;
      position: static;

      .product-title {
        font-size: 38px;
        letter-spacing: -0.06em;
        line-height: 140%;
        color: #1e314a;
      }

      .product-sub-title {
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -0.06em;
        color: #0055b8;
      }
      .product-volume {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.04em;
        color: #1e314a;
      }
    }

    .option-list-wrapper {
      padding: 45px 0 0;
      list-style: none;
    }
  }
}
